body{
    background-image: url("/static/img/bekgron.png");
    background-size:100%;
    background-attachment: scroll;
}

#indexBody{
    background-image: url("/static/img/bekgron.png");
    background-size:100%;
    background-attachment: scroll;
    text-align: center;
}

.navbar{
    background-color: #FBF9F5;
}

.landing{
    text-align: center;
    margin-top: 150px;
}

.button1{
    width: 200px;
    height: 75px;
    background: #FBF9F5;
    position: relative;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    text-align: center;
    color: #514943;
    border-radius: 90px;
    transition: all 0.5s;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    top: auto;
    bottom: auto;
}

.button1:hover {background-color:#95B4CE}

.button1:active {
box-shadow: 0 1px #666;
transform: translateY(3px);
}

.contact{
    font-size: 60px;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    letter-spacing: 10px;
    color: #333333;
}

.fotow{
    margin: 150px;
    margin-top: 200px;
    position: relative;
}

#aboutTitle{
    font-size: 60px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.about{
    text-align: justify;
    margin: 150px;
    top: 50px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
}

.experiences{
    text-align: justify;
    margin: 150px;
    top: 50px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
}

.skills{
    text-align: right;
    margin: 150px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
}