<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/bootstrap-grid.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    
    <title>About Me</title>
    <link rel="icon" href ="{% static '/img/sra02.png' %}" type="image/x-icon">
</head>
<body id="aboutMe">
    <nav class="navbar navbar-expand-lg fixed-top navbar-light">
        <div class="container">
            <a class="navbar-brand" href="{% url 'myapp:index' %}">
                <img src="{% static '/img/sra02.png' %}" alt="logo web" width="30" height="30"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="#navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                    <a class="nav-link" href="{% url 'myapp:about' %}">About Me<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#Experiences">Experiences</a>
                        </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#Skills">My Skills</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'myapp:contacts' %}">Contacts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'myapp:schedule' %}">My Schedule</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="row aboutAll">
            <div class="col fotow align-items-center">
                <img src="{% static '/img/fotow.png' %}" width="344" height="459">
            </div>
            <div class="col about">
                <b id="aboutTitle">About Me</b><br><br>
                My name is Safira Rizki Anartya. People call me Safira/Ila. I’m 19 years old.
                I'm a university student who loves to learn what I like. I’m currently studying at Universitas Indonesia. 
                I’m an Information System students. There are many things I enjoy, such as Netflix, watch KDramas and eating.
            </div>
        </div>
    </div>
    <div class="gap" id="Experiences">
        <div class="experiences align-items-center">
            <br><br><b id="aboutTitle">Experiences</b><br><br>
            <u>COMPFEST</u><br>
            Staff of Digital Marketing<br><br>
            <u>DPM Fasilkom UI</u><br>
            Staff of Media, Creative, and Design<br><br>
            <u>Wisuda Genap Fasilkom UI 2019</u><br>
            VPIC of Documentation<br><br>
            <u>UI Ethnovaganza</u><br>
            VPIC of Design<br><br>
    </div>
    <div class="gap" id="Skills">
        <div class="skills align-items-center">
            <b id="aboutTitle">My Skills</b><br><br>
            <u>Design</u><br>
            Adobe Illustrator<br>
            Adobe Photoshop<br>
            Figma<br><br>
            <u>Programming</u><br>
            Python<br>
            Java<br>
            HTML5<br>
            CSS3<br><br>
            <u>Language</u><br>
            English<br>
            Korean
    </div>
</body>

</html>