<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/bootstrap-grid.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    
    <title>Contacts</title>
    <link rel="icon" href ="{% static '/img/sra02.png' %}" type="image/x-icon">

</head>
<body id="contactsNavbar">
    <nav class="navbar navbar-expand-lg fixed-top navbar-light">
        <div class="container">
            <a class="navbar-brand" href="{% url 'myapp:index' %}">
                <img src="{% static '/img/sra02.png' %}" alt="logo web" width="30" height="30"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="#navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                    <a class="nav-link" href="{% url 'myapp:about' %}">About Me</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#Experiences">Experiences</a>
                        </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#Skills">My Skills</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'myapp:contacts' %}">Contacts<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'myapp:schedule' %}">My Schedule</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</body>
<body id="contactsIcon">
    <div class="container">
        <div class="gap flex-column">
            <div class="contact text align-items-center">
                <blockquote style="z-index: 2">
                    <br><br>
                    you can reach me on
                    <br><br>
                    <a href="https://instagram.com/safirarizkia">
                        <img src="{% static '/img/instaicon.png' %}" alt="instagram icon" width="91px" height="91px">  
                    </a>
                    <a href="https://twitter.com/sapearare">
                        <img src="{% static '/img/twittericon.png' %}" alt="twitter icon" width="91px" height="91px">    
                    </a>
                    <a href="http://line.me/ti/p/~sfrrzkanrty">
                        <img src="{% static '/img/lineicon.png' %}" alt="line icon" width="91px" height="91px">    
                    </a>
                    <a href="mailto:safirarizkia85@gmail.com">
                        <img src="{% static '/img/mailicon.png' %}" alt="mail icon" width="91px" height="91px">    
                    </a>
                    <br><br>
                </blockquote>
            </div>
        </div> 
    </div>
</body>
</html>