<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/bootstrap-grid.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="icon" href ="{% static '/img/sra02.png' %}" type="image/x-icon">
</head>
<body id="indexBody">
    <div class="container">
        <div class="gap flex-column">
            <div class="landing image align-items-center">
                <blockquote style="z-index: 2">
                    <img src="{% static '/img/sra.png' %}" alt="logo web"width="1000" height="400">
                </blockquote>
            </div>
            <a href="{% url 'myapp:about' %}"><button type="button" class="button1 align-items-center">About Me</button></a>
        </div> 
    </div>
</body>
</html>