<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/bootstrap-grid.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    
    <title>Safira's Schedule</title>
    <link rel="icon" href ="{% static '/img/sra02.png' %}" type="image/x-icon">
</head>
<body>
  <nav class="navbar navbar-expand-lg fixed-top navbar-light">
    <div class="container">
        <a class="navbar-brand" href="{% url 'myapp:index' %}">
            <img src="{% static '/img/sra02.png' %}" alt="logo web" width="30" height="30"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="#navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'myapp:about' %}">About Me</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#Experiences">Experiences</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#Skills">My Skills</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'myapp:contacts' %}">Contacts</a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="{% url 'myapp:schedule' %}">My Schedule<span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </div>
  </nav>
  <div class="container">
    <h1>Safira's Schedule</h1>
    <div id="text">
      <div class="row mx-lg">
        <div class="col-12 col-md-6">
          <form action="{% url 'myapp:send' %}" method="POST">
            {% csrf_token %}
            {{ form }}
            <button type="submit" class="btn btn-primary">Upload Schedule</button>
          </form>
        </div>
        <div class="col-12 col-md-6">
          <table class="table table-borderless">
            <thead>
              <tr>
                <th scope="col">Mata Kuliah/Events</th>
                <th scope="col">To-Do</th>
                <th scope="col">Date</th>
                <th scope="col">Time</th>
                <th scope="col">Place</th>
                <th scope="col">Category</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                {% for todolists in toDoList %}
                <td class="matkul">{{ todolists.matkul }}</td>
                <td class="todo">{{ todolists.todo }}</td>
                <td class="date">{{ todolists.date }}</td>
                <td class="time">{{ todolists.time }}</td>
                <td class="place">{{ todolists.place }}</td>
                <td class="category">{{ todolists.category }}</td>
                <td>
                  <form action="{% url 'myapp:deleteSched' todolists.id %}" method="GET">
                    <button type="submit" class="btn btn-primary">Delete</button>
                  </form>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
</body>
</html>